body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#parent {
    position: absolute;
    padding:0;
    width: 200px !important;
    top: 20px;
    right: 20px;
}

.control {
    font: 15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    margin-bottom: 15px;
    z-index: 1000;
    border-radius: 5px;
    background-color: #fff;
}

.halftext {
    text-transform: uppercase;
    background: linear-gradient(to right, #000 0%, #000 49.9%, #FFF 50.1%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating {
    text-align: center;
    font-size: large;
}

.alignment {
    text-align: right;
    vertical-align: top
}

#closedrow > div > span {
    color:#DE0B1D;
}

#openrow > div > span {
    color:#08AC00;
}

#bikerow > div > span {
    color:#1179BA;
}

.disabled > div, .disabled > div > span{
    color:#DCDCDC !important;
}

.custombtn {
    padding:2px !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.mapboxgl-popup {
    max-width: none !important;
}